.example {
  color: rgb(84, 153, 130);
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}

.Meaning h5 {
  font-family: "Libre Baskerville", serif;
  color: rgb(44, 21, 3);
}
.defintion {
  line-height: 24px;
}
