section {
  background-color: rgb(240, 230, 220);
  border-radius: 16px;
  box-shadow: 0 5px 7px rgb(54, 38, 15, 0.4);
}
.Phonetic {
  font-size: 17px;
  line-height: 1.5;
}

h3 {
  color: rgb(44, 21, 3);
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.5;
  font-family: "Libre Baskerville", serif;
  font-size: 400;
}

.Phonetic a {
  border: 0.6px solid rgb(44, 21, 3);
  border-radius: 30px;
  color: rgb(44, 21, 3);
  font-size: 12px;
  padding: 7px 7px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: rgb(44, 21, 3);
  color: rgb(240, 230, 220);
}
